<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>R</key>
  <string>R_.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>upsilonlatin</key>
  <string>upsilonlatin.glif</string>
</dict>
</plist>
